{{- if and  .Values.database.password (not .Values.database.existingSecret) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "float-manager-server.fullname" $ }}-database
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "float-manager-server.labels" $ | nindent 4 }}
type: Opaque
stringData:
  database-url: {{ .Values.database.type }}://{{ .Values.database.user }}:{{ .Values.database.password }}@{{ .Values.database.host }}:{{ .Values.database.port }}/{{ .Values.database.database }}
{{- end }}